<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>org-roam-sync</string>
	<key>ProcessType</key>
	<string>Background</string>
	<key>Program</key>
	<string>/usr/local/bin/sync-org-roam</string>
	<key>StandardErrorPath</key>
	<string>/tmp/sync-org-roam-err.log</string>
	<key>StandardOutPath</key>
	<string>/tmp/sync-org-roam-out.log</string>
	<key>StartCalendarInterval</key>
	<array>
		<dict>
			<key>Minute</key>
			<integer>30</integer>
		</dict>
	</array>
</dict>
</plist>
